# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.

required = [
  "github.com/gogo/protobuf/proto",
  "github.com/gogo/protobuf/jsonpb",
  "github.com/gogo/protobuf/protoc-gen-gogoslick",
  "github.com/gogo/protobuf/gogoproto",
  "github.com/lestrrat/go-jwx",
  "github.com/lestrrat/go-pdebug",
  "github.com/dgrijalva/jwt-go",
]

[[constraint]]
  name = "istio.io/api"
  branch = "master"

[[override]]
  name = "github.com/gogo/protobuf"
  version = "=0.5"

[[override]]
  name = "github.com/prometheus/client_golang"
  version = "v0.9.0-pre1"

[[constraint]]
  name = "github.com/hashicorp/go-multierror"
  branch = "master"

### Pruning settings
[prune]
  unused-packages = true
  go-tests = true
  non-go = true
  [[prune.project]]
    name = "istio.io/api"
    non-go = false
    unused-packages = false
  [[prune.project]]
    name = "github.com/gogo/googleapis"
    non-go = false
    unused-packages = false
  [[prune.project]]
    name = "github.com/gogo/protobuf"
    non-go = false
    unused-packages = false
###
