# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build-and-test:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/apigee/istio-mixer-adapter
    steps:
      - checkout
      - run: INSTALL_PROTOC=1 ./install/local_install.sh
        # test needs dep ensure to be run again, since the Mixer plugin install
        # will have removed the vendor link.
      - run: dep ensure
      - run: go test -coverprofile=/tmp/coverage.out ./...
      - run: go tool cover -html=/tmp/coverage.out -o /tmp/coverage.html
      - store_artifacts:
          path: /tmp/coverage.out
      - store_artifacts:
          path: /tmp/coverage.html

  build-image:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/apigee/istio-mixer-adapter
    steps:
      - checkout
      - run: INSTALL_PROTOC=1 ./install/local_install.sh
      - run: GCP_PROJECT=apigee-api-management-istio ./install/build_mixer_docker.sh

workflows:
  version: 2
  on-commit:
    jobs:
      - build-and-test
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build-and-test
      - build-image:
          requires:
            - build-and-test
