# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build-and-test:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/apigee/istio-mixer-adapter
    steps:
      - checkout
      - run:
          command: INSTALL_PROTOC=1 ./install/local_install.sh
          name: Run local install script
        # test needs dep ensure to be run again, since the Mixer plugin install
        # will have removed the vendor link.
      - run: dep ensure
      - run:
          command: go test -coverprofile=/tmp/coverage.out ./...
          name: Run tests
      - run:
          command: go tool cover -html=/tmp/coverage.out -o /tmp/coverage.html
          name: Build HTML coverage report
      - store_artifacts:
          path: /tmp/coverage.html

  build-image:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/apigee/istio-mixer-adapter
    steps:
      - checkout
      - setup_remote_docker
      - run:
          command: INSTALL_PROTOC=1 ./install/local_install.sh
          name: Run local install script
      - run:
          command: GCP_PROJECT=apigee-api-management-istio INSTALL_DOCKER=1 INSTALL_GCLOUD=1 MAKE_PUBLIC=1 TARGET_DOCKER_IMAGE=gcr.io/apigee-api-management-istio/istio-mixer:latest ./install/build_mixer_docker.sh
          name: Build and push Docker image

  build-nightly:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/apigee/istio-mixer-adapter
    steps:
      - checkout
      - setup_remote_docker
      - run:
          command: INSTALL_PROTOC=1 ./install/local_install.sh
          name: Run local install script
      - run:
          command: GCP_PROJECT=apigee-api-management-istio INSTALL_DOCKER=1 INSTALL_GCLOUD=1 MAKE_PUBLIC=1 TARGET_DOCKER_IMAGE=gcr.io/apigee-api-management-istio/istio-mixer:nightly ./install/build_mixer_docker.sh
          name: Build and push Docker image

workflows:
  version: 2
  on-commit:
    jobs:
      - build-and-test
      - build-image:
          requires:
            - build-and-test
  nightly:
    triggers:
      - schedule:
          cron: "0 7 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build-and-test
      - build-nightly:
          requires:
            - build-and-test
